.header{
    width:100%;
    margin: 0px auto;
    padding: 10px 10px;
    font-family: Arial;
    text-align:right;
}

a{
    font-size: 18px;
}

.image{
    width:30px;
    position:relative;
    top:10px;
}

.image2{
    width:70px;
    position:relative;
    top:-10px;
}

.main{
    width:400px;
    margin: 0 auto;
    padding: 150px 10px;
    vertical-align:center;
}

.main-pic{
    width:250px;
    margin: 0px auto;
}

.pic{
    width:250px;
}

.pic2{
    width:70px;
    margin: 0 auto;
    display:inline;
}

.insert{
    width:400px;
    margin: 0 auto;
}

input{
    width:100%;
    display:block;
    font-size:18px;
}

input:hover{
    background-color:yellow;
}

.btn{
    width: 49%;
    height: 50px;
    margin: 5px auto;
    border-radius:2px;
    background-color:#d6d8db;
    color:#4e5256;
    font-size:18px;
}

.data_prot{
    width:95%;
    height:50px;
    margin:0px 20px;
    padding:20px 20px;
    border: 1px solid #d6d8db;
    display:grid;
    font-family: Arial;
    position:fixed;
    left:0px;
    bottom:100px;
    grid-template-columns: 10% 60% 30%;
}

.data_prot_2{
    height:50px;
    top:-35px;
}

.data_prot_3{
    height:50px;
    top:-30px;
    right:5px;
    font-family: Arial;
    margin: 0 auto;
}

.bt1, .btn2{
    border-radius:10px;
    background-color:#5697ff;
    color:white;
    font-size:18px;
    padding: 5px;
}

.btn2{
    top:-10px;
}

h1{
    display:inline;
}

.footer{
    position: fixed;
    bottom:0px;
    left:0px;
    background-color:#d6d8db;
    width:100%;
    font-family: Arial;
    font-size:18px;
}

.fline{
    border-bottom:1px solid white;
    margin: 0px auto;
    padding-left:20px;
}

.sline_left{
    margin: 5px auto;
    display:inline;
    padding-left: 20px;
}

.sline_right{
    position:fixed;
    right:5px;
    display:inline;
    margin:0px auto;
    padding-right: 20px;
}