{% extends "frame.html" %}

{% block title %} RealBlog {% endblock title %}
{% block page_content %}
<h1> Real Blog Page</h1>

<form method="post">
    <div class="input-group">
        <span class="input-group-addon">name</span>
        <input type="text" placeholder="Name" name="username">
    </div>
    <div class="input-group">
      <span class="input-group-addon">message</span>
      <input type="text" placeholder="Message" name="message_text" required>
    </div>

    <button type="submit">Submit</button>
</form>

{% for message in messages %}
<div class="panel panel-info">
  <div class="panel-heading">
      <h3 class="panel-title">    {{ message.name }} <a href="/message/{{ message.key.id() }}/edit">edit</a></h3>
  </div>
  <div class="panel-body">
    {{ message.message_text }}
  </div>
</div>


{% endfor %}

{% endblock page_content %}